<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nageoffer.shortlink.project.dao.mapper.ShortLinkMapper">

    <resultMap id="ShortLinkRespMap" type="com.nageoffer.shortlink.project.dto.resp.ShortLinkRespDTO">
        <result property="fullShortUrl" column="full_short_url"/>
        <result property="originUrl" column="origin_url"/>
        <result property="gid" column="gid"/>
        <result property="description" column="description"/>
        <result property="totalPv" column="total_pv"/>
        <result property="totalUv" column="total_uv"/>
        <result property="totalUip" column="total_uip"/>
        <result property="todayPv" column="today_pv"/>
        <result property="todayUv" column="today_uv"/>
        <result property="todayIpCount" column="today_ip_count"/>
    </resultMap>

    <select id="pageShortLinkWithStats" resultMap="ShortLinkRespMap">
        SELECT
            l.full_short_url,
            l.origin_url,
            l.gid,
            l.description,
            l.total_pv,
            l.total_uv,
            l.total_uip,
            COALESCE(t.today_pv, 0) AS today_pv,
            COALESCE(t.today_uv, 0) AS today_uv,
            COALESCE(t.today_ip_count, 0) AS today_ip_count
        FROM t_link l
        LEFT JOIN t_link_stats_today t
            ON l.full_short_url = t.full_short_url
            AND l.gid = t.gid
            AND t.date = CURDATE()
            AND t.del_flag = 0
        WHERE l.gid = #{gid}
            AND l.del_flag = 0
            AND l.user_name = #{userName}
        <choose>
            <when test="orderFlag == 'todayPv'">ORDER BY today_pv DESC</when>
            <when test="orderFlag == 'todayUv'">ORDER BY today_uv DESC</when>
            <when test="orderFlag == 'todayIpCount'">ORDER BY today_ip_count DESC</when>
            <when test="orderFlag == 'totalPv'">ORDER BY l.total_pv DESC</when>
            <when test="orderFlag == 'totalUv'">ORDER BY l.total_uv DESC</when>
            <when test="orderFlag == 'totalUip'">ORDER BY l.total_uip DESC</when>
            <otherwise>ORDER BY l.create_time DESC</otherwise>
        </choose>
    </select>

</mapper>
